{% schema %}
  {
    "name": "FOOTER",
    "settings": [],
    "presets": [
      {
        "name": "anywears-footer"
      }
    ]
  }
{% endschema %}

<div class="footer">

  <div class="footer-inner">
    <div class="footer-item">
      <div class="footer-title">anywears.shop</div>
      <div class="footer-description">2023<br>Melbourne, Victoria</div>
    </div>
  </div>

</div>

{% style %}

  .footer {
    position: relative;
    width: 100%;
    padding: 5em 0;
    height: fit-content;
    background-color: #f00;
  }

  .footer-inner {
    position: relative;
    display: flex;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .footer-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    color: #fff;
  }

  .footer-title {
    position: relative;
    font-size: 1.5em;
    font-weight: 500;
  }
{% endstyle %}